<div class="jumbotron">
  <h2>A site for Investors</h2>
  <p>
  <a class="btn btn-lg btn-primary" href="users/sign_up/" role="button">Register now &raquo;</a>
  </p>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  </div>
</div>
