<p id="notice"><%= notice %></p>

<h3>Your Portfolio</h3>

<%= link_to new_portfolio_path, remote: true, :id => "new_portfolio_link" do %>
  <button type="button" class="btn btn-default">New Portfolio</button>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="portfolios">
    <% @portfolios.each do |portfolio| %>
      <%= render "portfolio", :portfolio => portfolio %>
    <% end %>
  </tbody>
</table>

<br>
