<header>
  <h1><%= @portfolio.name %></h1>

  <ul class="actions">
    <li><%= link_to fa_icon("pencil") + " Edit Portfolio", 
      edit_portfolio_path(@portfolio), class: "btn btn-primary"  %></li>
    <li><%= link_to fa_icon("trash") + " Delete Portfolio", 
      portfolio_path(@portfolio), 
      method: :delete,
      data: { confirm: "Are you sure you want to delete this portfolio?" },
      class: "btn btn-danger" %></li>
  </ul>
</header>
