<div>
  <h3>
    Edit Current Search
  </h3>
  <%= link_to "Delete",
      @search,
      method: :delete,
      data: { confirm: "Are you sure you want to delete this saved search?" },
      class: "delete" %>
</div>
<%= render 'form', search: @search %>
