@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "stocks";
@import "jquery.dataTables.min";
@import "responsive";

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

body {
  padding-top: 70px;
}

#portfolios h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.button_to, .button_to div {
  position: relative;
  display: inline;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadown: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

     .ui-menu-item {
       display: block;
       padding: 3px 15px;
       clear: both;
       font-weight: normal;
       line-height: 22px;
       color: #555555;
       white-space: nowrap;

       &.ui-state-focus {
         color: #000;
         text-decoration: none;
         background-color: #E1E1E8;
         border-radius: 5px;
         -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
         background-image: none;
       }
     }
}

blockquote.comment p {
  font-size: 14px;
}
