.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F5F5F5;
}

th, td {
  text-align: center;
}

.header {
  background-color: #A9A9A9;
}

#element-align {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
}

.pagination {
  background: white;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
  .pagination a:hover, .pagination a:focus {
    text-decoration: underline;
}

.search-button, #filter-btn, #edit-btn {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #4682B4;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  background-color: #F8F8FF;
}

.search-button:hover, #filter-btn:hover, #edit-btn:hover {
  background-color: #B0C4DE;
}
